.layout {
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* max-height: 60vh; */
    /* min-height: 85vh; */
}

.card {
    user-select: none;
    opacity: 0;
    min-width: 300px;
    /* box-shadow: ; */
}

.video-card {
    color: red;
    -webkit-animation: 1.5s title-fade 0.5s forwards;
    animation: 1.5s title-fade 0.5s forwards;
}

.user-card {
    -webkit-animation: 1.3s title-fade 0.7s forwards;
    animation: 1.3s title-fade 0.7s forwards;
}

.title {
    letter-spacing: 0.1em;
    -webkit-animation: 2s title-fade 0s;
    animation: 2s title-fade 0s;
    font-family: 'monaco';
    margin: 20px 0 100px 0;
    text-align: center;
    font-size: calc(15px + 2vmin);
    user-select: none;
}

@keyframes title-fade {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes footer-fade {
    from { opacity: 0;}
    to { opacity: 1; }
}

.footer {
    opacity: 0;
    user-select: none;
    text-align: center;
    font-family: "monaco";
    -webkit-animation: 1.5s footer-fade 2s forwards;
    animation: 1.5s footer-fade 1s forwards;
}