.empty-content {
    min-height: 500;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.card-header {
    -webkit-line-clamp: 1;
    line-height: 20px; 
    max-height: 20px;     
}

.card-description {
    -webkit-line-clamp: 2;
    line-height: 18px; 
    max-height: 36px;
    color: gray;
}

.c {
    opacity: 0;
    animation-name: fade-slide;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-fill-mode: forwards;
}

@keyframes fade-slide {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}